body, html {
  margin: 0;
  background-color: '#FAFAFA';
  font-family: 'MetropolisRegular';
}

.button-style-blk{
  align-items: center;
  width: 145px;
  height: 40px;
  left: calc(50% - 216px/2 + 3.5px);
  background-color: #323031;
  border-radius: 100px;
  border: 1px;

}


.button-style-blk:hover {
  box-shadow: rgba(168, 218, 220,.35) 0 -25px 18px -14px inset,rgba(168, 218, 220,.25) 0 1px 2px,rgba(168, 218, 220,.25) 0 2px 4px,rgba(168, 218, 220,.25) 0 4px 8px,rgba(168, 218, 220,.25) 0 8px 16px,rgba(168, 218, 220,.25) 0 16px 32px;
  transform: scale(1.01) ;
}

.button-style-blue{
  align-items: center;
  width: 145px;
  height: 40px;
  left: calc(50% - 216px/2 + 3.5px);
  background-color: #219EBC;
  border-radius: 100px;
  border: 1px;

}


.button-style-blue:hover {
  box-shadow: rgba(168, 218, 220,.35) 0 -25px 18px -14px inset,rgba(168, 218, 220,.25) 0 1px 2px,rgba(168, 218, 220,.25) 0 2px 4px,rgba(168, 218, 220,.25) 0 4px 8px,rgba(168, 218, 220,.25) 0 8px 16px,rgba(168, 218, 220,.25) 0 16px 32px;
  transform: scale(1.01) ;
}


.button-text-style1 {
  
font-family: 'Metropolis';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
/* identical to box height */

text-align: center;

color: #FFFCF2;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.blob-bg {
  height: 1000px;
 /* background: url(./utils/blob-scene-haikei.svg) no-repeat top ;*/
}



.header  {
  background: #219EBC;
  width: 100vw;
  height: 100px;
  border-radius: 0px 0px 84px 84px;
}

.headerText{
    padding-top: 57px;
    text-align:center;
    font-family: 'Metropolis';
    font-style: bold;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FAFAFA;
}

.homediv{
  width: '100vw';
  height: '100vh';
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes animated-block {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.recording-indicator {
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: #099fff;
  animation-name: animated-block;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


.record {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  flex-direction: "row";
  justify-content: center;
  align-items: center,   
}

.record audio {
  min-width: 80%;
  max-width: 60%;
}
.recordings-list::-webkit-scrollbar {
  width: 5px;
}

.recordings-list::-webkit-scrollbar-track {
  background: #e4d3cf;
}

.recordings-list::-webkit-scrollbar-thumb {
  background: #099fff;
}

.recordings-list {
 
  display: grid;
  justify-content: center;
  overflow-y: auto;
}
.delete-button-container {
  padding-left: 10px;
  display: grid;
  place-content: center;
}

.delete-button {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.delete-button:hover {
  color: #fd1c03;
}


/*blinker class */
.blink {
  animation: blinker .60s linear infinite;
  color: red;
}
@keyframes blinker {
  50% {
      opacity: 0;
  }
}



.error {
  border: 1px solid;
  margin: 10px auto;
  border-radius: 30px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  max-width: 250px;
}
.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('utils/error-icon.png');
}

.error:before{
  font-size: 24px;
  color: #D8000C;
}